<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/app.css" />
    <title>Project List</title>
  </head>
  <body>
    <header class="bg-gray-500 flex justify-center items-center" style="height: 500px;">
      <!-- {% block content %} -->
      <div class="w-full max-w-xs md: max-w-3xl">
        <h1 class="w-full text-4xl mb-4">亞法國際有限公司</h1>
        <h1 class="w-full text-2xl m-2">專案文件列表</h1>

        <div class="max-w-sm w-full lg:max-w-full lg:flex">
          <div
            class="h-48 lg:h-auto lg:w-24 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
            style="background-image: url('http://fakeimg.pl/210x300?text=pdf%20preview&font=lobster');"
            title="Woman holding a mug"
          ></div>

          <div
            class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
          >
            <div class="mb-4">
              <div class="text-gray-900 font-bold text-xl mb-2">Can coffee make you a better developer?</div>
              <p class="text-gray-700 text-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia.
              </p>
            </div>
          </div>
        </div>
        <p class="text-center text-gray-500 text-xs">
          &copy;2020 Acme Corp. All rights reserved.
        </p>
      </div>
    </header>
  </body>
</html>

<!-- {% endblock %} -->
